.listItem {
    --spacing: 4px;
    margin: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    list-style: none;
    width: calc(25% - calc(var(--spacing) * 4));
    height: 80px;
    background-color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .listItem {
        width: calc(50% - calc(var(--spacing) * 2));
    }
}
