.column {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
